.m_nav {
    width: 414px;
    position: fixed;
    bottom: 0px;
    background-color: #ffffff;
    z-index: 3;
    
}

.main_dis {
    width: 414px;
    /* height: 896px; */
    padding-bottom: 80px;
    padding-top: 50px;
    background-color: #000000;
    background-image: url('../public/img/background3.png');
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    /* background-size: cover; */
    /* background-image: url('../public/img/background.png'); */
    margin: auto;
    text-align: center;


}

.nav1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    justify-content: space-around;
    background-color: #000000;
    color: #ffffff;


}

.top_c {
    height:50px;
    font-size: 12px;
    font-weight: 700;
    color: #c4c4c4;
    text-decoration: none;
    margin-left: 20px;
    margin-top: 10px;




}

.logo {
    position: relative;
    top:4%;
    left: 2%;
    width: 150px;
    height: 40px;
    color: #000000;

}

.btn_pos {
    display: inline-block;

}

.famous_saying {
    width: 340px;
    height: 150px;
    margin: auto;
    color: #ffffff;
    /* background-color: #242424; */

    padding: 20px 30px 5px 30px;
    border-radius: 15px;
    margin-top: 10px;
}

.famous_people {
    color: #c4c4c4;
    font-style: italic;
}

.logo_div {
    width: 414px;
    height: 50px;
    background-color: #000000;
    display: flex;




}

.log_in {
    top:29%;
    height: 25px;
    position: relative;
    left: 42%;
    border-radius: 50px;
    background-color: #ED4C05;
    width: 70;
}

.trainer_div {
    margin-top: 50px;
}

.partner_img {
    margin-top: 40px;

}

.mar_auto {
    font-size: 24px;
    color: #000000;
    font-weight: bold;
}

.home_header {
    width: 340px;
    height: 180px;
    color: #ffffff;
    /* background-color: #242424; */
    font-size: 25px;
    font-weight: 500;

    padding: 20px 10px 5px 10px;
    border-radius: 15px;
    margin-top: 300px;
    display:flex;
    text-align: start;
    flex-wrap: wrap;
    margin-left: 10px;
    font-weight: bold;
}

.login_font {
    position: relative;
    text-decoration: none;
    color: white;
    bottom: 25%;
}

.login_way {
    background-color: #ffffff;
    color: #000000;
    border-radius: 10px;
    height: 40px;
    border: 0px;
    font-weight: bold;
    width: 270px;

}



.nav_img {
    width:20px;
    margin-bottom: 5px;
}