.m_nav {
    width: 414px;
    position: fixed;
    bottom: 0px;
    border: 2px solid red;
    background-color: #ffffff;
}

.main_dis {
    width: 414px;
    height: 896px;
    border: 2px solid red;
    background-attachment: fixed;
    background-image: url('../public/img/gym1.png');

    /* background-color: #c5c9fc; */
    /* background-color: #dadcff; */
    /* background-color: #878abd; */
    margin: auto;
    text-align: center;


}

.nav1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    justify-content: space-around;
}

.top_c {
    font-size: 12px;
    font-weight: 700;
    color: #c4c4c4;
    text-decoration: none;
    margin-left: 20px;




}

.logo {
    width: 200px;
    height: 50px;
    padding-left: 10px;
    border: 2px solid red;
    text-align: center;
    color: #000000;
}

.btn_pos {
    display: inline-block;
    border: 2px solid red;

}

.famous_saying {
    width: 340px;
    margin: auto;
    color: #ffffff;
}