.m_nav {
    width: 414px;
    position: fixed;
    bottom: 0px;
    /* border: 2px solid red; */
    background-color: #ffffff;
}

.main_dis {
    width: 414px;
    /* height: 896px; */
    /* border: 2px solid red; */
    background-color: #000000;
    background-image: url('../public/img/background3.png');
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    /* background-size: cover; */
    /* background-image: url('../public/img/background.png'); */
    margin: auto;
    text-align: center;


}

.nav1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    justify-content: space-around;
    background-color: #000000;
    color: #ffffff;

}

.top_c {
    font-size: 12px;
    font-weight: 700;
    color: #c4c4c4;
    text-decoration: none;
    margin-left: 20px;




}

.logo {
    position: relative;
    left: 28%;
    width: 200px;
    height: 50px;
    /* border: 2px solid red; */
    color: #000000;

}

.btn_pos {
    display: inline-block;
    /* border: 2px solid red; */

}

.famous_saying {
    width: 340px;
    margin: auto;
    color: #ffffff;
    background-color: #242424;

    padding: 20px 10px 5px 10px;
    border-radius: 15px;
    margin-top: 10px;
}

.famous_people {
    color: #c4c4c4;
    font-style: italic;
}

.logo_div {
    width: 414px;
    height: 50px;
    /* border: 2px solid red; */
    background-color: #000000;
    display: flex;




}

.log_in {
    top: 15%;
    height: 30px;
    position: relative;
    left: 32%;
    /* border: 2px solid red; */
}

.trainer_div {
    margin-top: 50px;
    /* border: 2px solid red; */
}

.partner_img {
    margin-top: 40px;

}

.mar_auto {
    font-size: 24px;
    color: #000000;
    font-weight: bold;
}